<!-- <p-button (onClick)="showDialog()" label="Show" /> -->

<p-dialog
  header="Добавить колонку"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '25rem' }"
  (visibleChange)="closePopup()"
>
  <div class="add-column">


    @for (col of columns; track $index) {
      <div class="add-column__item">
        <p-checkbox 
          [(ngModel)]="selectedColumnsPopup"
          [label]="col.header" 
          name="group" 
          [value]="col" />
      </div>
    }
  </div>
    

  <div class="add-column__btns">
    <p-button label="Отмена" severity="secondary" (onClick)="closePopup()" />
    <p-button label="Сохранить" (onClick)="changeSelectedColumns()" />
  </div>
</p-dialog>
