.popup-good {

}
.popup-good__fields {
    margin-bottom: 30px;
    display: grid;
    gap: 10px;
}
.popup-good__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popup-good__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.p-dropdown	{
    width: 100% !important;
}

// .p-dropdown {}